select{
    width: 300px;
    padding: 10px 15px;
    margin-top: 15px;
    transition-property: box-shadow;
    transition-duration: 2s;
    box-sizing: border-box;
}
select:hover{
    box-shadow: 4px 4px 4px lightgreen;
}
textarea{
    width: 300px;
    padding: 10px;
    border: 2px solid lightcoral;
    box-sizing: border-box;
}
textarea:hover{
    border-color: blue;
}
